
h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-bottom: 2%;
}

h2, h3{
    color: rgb(2, 23, 255);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
    
    
}

.cat{
    color: rgb(249, 90, 117);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    margin: 20px;
    background-color: white;
    border: 5px solid rgb(249, 90, 117);
    border-top-right-radius: 30px;
}

body{
    margin: 5%;
    padding: 0%;
    background-color: #ccd9f8;
}

p{
    line-height: 2.0;
}
   
